<div class="container">
  <h1>{{ edicion ? 'Editar tipo de proyecto' : 'Nuevo tipo de proyecto' }}</h1>

  <form [formGroup]="form" (ngSubmit)="aceptar()">
    <mat-form-field class="full" appearance="outline">
      <mat-label>Nombre del tipo de proyecto</mat-label>
      <input matInput formControlName="nombreTipoProyecto" />
      <mat-error *ngIf="form.get('nombreTipoProyecto')?.hasError('required')">
        El nombre del tipo de proyecto es obligatorio
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">
      Guardar
    </button>
  </form>
</div>
