<!-- src/app/components/entrega/entrega-insert/entrega-insert.html -->
<div class="form-container">
  <h1>{{ edicion ? 'Editar entrega' : 'Nueva entrega' }}</h1>

  <form [formGroup]="form" (ngSubmit)="aceptar()">
    <div class="row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Tipo de entrega</mat-label>
        <input matInput formControlName="tipoEntrega" />
        <mat-error
          *ngIf="
            tipoEntregaField.invalid &&
            (tipoEntregaField.dirty || tipoEntregaField.touched)
          "
        >
          El tipo de entrega es obligatorio.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Estado</mat-label>
        <input matInput formControlName="estadoEntrega" />
        <mat-error
          *ngIf="
            estadoEntregaField.invalid &&
            (estadoEntregaField.dirty || estadoEntregaField.touched)
          "
        >
          El estado de la entrega es obligatorio.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Dirección de entrega</mat-label>
        <input matInput formControlName="direccionEntrega" />
        <mat-error
          *ngIf="
            direccionEntregaField.invalid &&
            (direccionEntregaField.dirty || direccionEntregaField.touched)
          "
        >
          La dirección es obligatoria.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Latitud</mat-label>
        <input
          matInput
          type="number"
          step="0.01"
          formControlName="latitudEntrega"
        />
        <mat-error
          *ngIf="
            latitudEntregaField.invalid &&
            (latitudEntregaField.dirty || latitudEntregaField.touched)
          "
        >
          La latitud es obligatoria.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Longitud</mat-label>
        <input
          matInput
          type="number"
          step="0.01"
          formControlName="longitudEntrega"
        />
        <mat-error
          *ngIf="
            longitudEntregaField.invalid &&
            (longitudEntregaField.dirty || longitudEntregaField.touched)
          "
        >
          La longitud es obligatoria.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Fecha de entrega</mat-label>
        <input
          matInput
          [matDatepicker]="pickerEntrega"
          formControlName="fechaEntrega"
          [min]="minEntrega"

        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="pickerEntrega"
          >
        </mat-datepicker-toggle>
        <mat-datepicker #pickerEntrega></mat-datepicker>
        <mat-error
          *ngIf="
            fechaEntregaField.invalid &&
            (fechaEntregaField.dirty || fechaEntregaField.touched)
          "
        >
          La fecha de entrega es obligatoria.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Pedido</mat-label>
        <mat-select formControlName="pedido">
          <mat-option *ngFor="let p of listaPedidos" [value]="p.idPedido">
            {{ p.idPedido }} - {{ p.estadoPedido }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            pedidoField.invalid &&
            (pedidoField.dirty || pedidoField.touched)
          "
        >
          Debes seleccionar un pedido.
        </mat-error>
      </mat-form-field>
    </div>

    <button
      mat-raised-button
      color="primary"
      class="btn-guardar"
      type="submit"
    >
      Guardar
    </button>
  </form>
</div>
