.container {
  padding: 16px;
  max-width: 700px;
  margin: 0 auto;
}

.full {
  width: 100%;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 8px;
}

.form-row > * {
  flex: 1;
}
