<div class="container">
  <button mat-raised-button color="primary" routerLink="/tipoproducto/new">
    <mat-icon>add</mat-icon> Nuevo tipo de producto
  </button>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-width-table">

    <ng-container matColumnDef="idTipoProducto">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let row">{{ row.idTipoProducto }}</td>
    </ng-container>

    <ng-container matColumnDef="nombreTipoProducto">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let row">{{ row.nombreTipoProducto }}</td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" [routerLink]="['/tipoproducto/edit', row.idTipoProducto]">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="eliminar(row.idTipoProducto)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
